@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

#clock {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#clock > p {
  border: 2px solid rgb(243, 196, 93);
  border-radius: 10px;
  padding: 7px;
  font-family: 'Gugi', cursive;
}